*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}

body{
    height: 100vh;

    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;

    transition: background-color .2s;
}

body button{
    font-size: 16px;
    font-weight: 500;
    color: #fff;
    padding: 12px 24px;
    background-color: red;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    outline: none;
}

body div{
    height: 80%;
    width: 80%;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 8px;
    background-color: #fff;
    position: absolute;
    z-index: 11;
    transition: .2s;

}

body div.invisible{
    display: none;
}

body div span{
    color: #000;
    font-size: 16px;
    font-weight: 500;
}